.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
  /* padding: 0px 50px; */
}

li a {
  font-size: 1.125rem;
}

@media (max-width: 463px) {
  header {
    gap: 10px;
  }

  .menu {
    display: flex;
    gap: 30px 20px;
    flex-wrap: wrap;
    /* flex-direction: row; */
    justify-content: center;
  }

  li a {
    font-size: 0.5rem;
  }
}

@media (max-width: 520px) {
  .menu {
    flex-wrap: wrap;
  }

  li a {
    font-size: 0.8rem;
  }
}

@media (max-width: 725px) {
  .header {
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }

  .menu {
    display: flex;
    flex-wrap: wrap;
  }

  li a {
    font-size: 0.9rem;
    padding: 10px 20px;
    background: #e6e5e5;
  }
}
